@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* ### Primary */
  --Strong-cyan: hsl(172, 67%, 45%);
  /* ### Neutral */
  --Very-dark-cyan: #00494d;
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

body {
  background-color: var(--Light-grayish-cyan);
  font-family: "Space Mono", monospace;
}
h1 {
  text-align: center;
  color: var(--Very-dark-cyan);
  margin-top: 40px;
  font-size: 24px;
  letter-spacing: 8px;
}

main {
  background-color: #fff;
  border-top-right-radius: 26px;
  border-top-left-radius: 26px;
  margin: auto;
  margin-top: 2rem;
  padding: 24px;
  max-width: 450px;
}
label {
  color: var(--Dark-grayish-cyan);
}
.form {
  padding: 8px;
}
.form input {
  font-size: 24px;
  font-family: "Space Mono", monospace;
}
.bill,
.number-of-people {
  width: 100%;
  padding: 6px;
  text-align: right;
  margin-top: 6px;
  border-radius: 4px;
  border: none;
  background-color: var(--Very-light-grayish-cyan);
  color: var(--Very-dark-cyan);
  cursor: none;
}

.bill-div,
.number-of-people-div {
  position: relative;
}

img[src="images/icon-dollar.svg"],
img[src="images/icon-person.svg"] {
  position: absolute;
  top: 22px;
  left: 19px;
  width: 11px;
}
img[src="images/icon-person.svg"] {
  top: 79px;
}

.select-div {
  margin: 2rem 0;
}

.percentage-div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: -1rem;
}
.percentage-div label {
  background-color: var(--Very-dark-cyan);
  width: 147px;
  border-radius: 6px;
  padding: 6px;
  text-align: center;
  color: #fff;
  font-size: 24px;
  border: none;
  cursor: pointer;
}

.percentage-div input {
  position: absolute;
  left: -9999px;
}

.percentage-div input:last-child {
  background-color: var(--Very-light-grayish-cyan);
  position: initial;
  left: 0;
  border: none;
  width: 116px;
}

.percentage-div input:last-child::placeholder {
  position: relative;
  left: 13px;
  color: var(--Dark-grayish-cyan);
}
label[for="number-of-people"] {
  margin-top: 2rem;
  display: inline-block;
}

.results-div {
  background-color: var(--Very-dark-cyan);
  margin-top: 24px;
  border-radius: 1rem;
  padding: 38px 1rem 26px;
}
.amount-person-div,
.total-person-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total-person-div {
  margin-top: 20px;
}
.tip-amount,
.tip-total {
  color: #fff;
  margin-left: 8px;
}
.person,
.person-total {
  color: var(--Grayish-cyan);
  font-size: 12px;
}
.amount-person,
.total-person,
.dollar-sign {
  font-size: 32px;
  color: var(--Strong-cyan);
}

.reset-btn {
  padding: 8px 0px;
  margin-left: 8px;
  margin-top: 2rem;
  border: none;
  border-radius: 8px;
  width: 95%;
  font-size: 20px;
  font-family: "Space Mono", monospace;
  text-transform: uppercase;
  background-color: #0d686d;
  color: #065157;
}

/* Active state styling */

.reset-btn:hover:not(.reset-btn:disabled) {
  background-color: #9fe8df;
  cursor: pointer;
}
.reset-btn:disabled {
  cursor:no-drop;
}

label:active,
labe:focus,
input:active,
input:focus {
  border: 2px solid #26c0ab;
  outline: none;
  color: var(--Very-dark-cyan);
}

input:focus + label {
  border: 2px solid #26c0ab;
  outline: none;
}

.percentage-div input:last-child:focus {
  border: 2px solid #26c0ab;
}
.percentage-div input:hover:last-child,
.percentage-div input:active:last-child,
.percentage-div input:focus:last-child {
  background-color: #fff;
  border: 2px solid #26c0ab;
  color: var(--Very-dark-cyan);
}

.percentage-div label:hover {
  background-color: #9fe8df !important;
  outline-color: var(--Very-dark-cyan);
  color: var(--Very-dark-cyan);
}
.percentage-div label:hover:last-child {
  background-color: #fff;
  color: var(--Very-dark-cyan);
  outline-color: var(--Very-dark-cyan);
}

.error {
  border: 2px solid #e1a696 !important;
}

.error-message {
  color: #e1a696;
  display: inline-block;
  margin-left: 10px;
  visibility: hidden;
}

/* Desktop design  */

@media (min-width: 1024px) {
  h1 {
    margin-top: 153px;
    width: 90%;
    position: relative;
    left: 84px;
  }
  main {
    display: flex;
    max-width: 900px;
    margin: auto;
    margin-top: 5rem;
    gap: 1rem;
    border-radius: 26px;
  }
  .form,
  .results-div {
    width: 50%;
    margin-top: 7px;
    padding: 14px 0;
  }
  .results-div {
    margin-left: 2rem;
  }
  label[for="bill"],
  label[for="tip-percentage"] {
    position: relative;
    left: 20px;
  }

  img[src="images/icon-dollar.svg"],
  img[src="images/icon-person.svg"] {
    position: absolute;
    top: 20px;
    left: 21px;
    width: 12px;
  }

  .bill,
  .number-of-people {
    margin-bottom: 6px;
    text-align: right;
    padding-right: 20px;
  }

  .percentage-div input {
    width: 116px;
    text-align: center;
    color: var(--Very-dark-cyan);
  }
  .percentage-div {
    margin-left: 20px;
  }
  label[for="number-of-people"] {
    margin-top: 38px;
    display: inline-block;
  }
  img[src="images/icon-person.svg"] {
    top: 86px;
    left: 20px;
  }
  .amount-person-div,
  .total-person-div {
    padding: 32px;
  }
  .total-person-div {
    padding-top: 0;
  }
  .amount-person,
  .total-person,
  .dollar-sign {
    font-size: 44px;
  }
  .total-person-div {
    margin-top: 0px;
  }
  .reset-btn {
    margin-left: 40px;
    margin-top: 87px;
    width: 332px;
  }
  .bill-div,
  .number-of-people-div {
    position: relative;
    left: 20px;
  }
  .error-message {
    color: #e1a696;
    display: inline-block;
    margin-left: 105px;
  }
  .percentage-div label {
    width: 116px;
  }
}
